div.start {
  text-align: left;
  font-size: 30px;
  font-family: "Arial" sans-serif;
  margin: 0px 75px;
}

div.topnav {
  margin: 0px 75px;
  overflow: hidden;
  background-color: darkgrey;
  position: relative;
}

div.topnav #moreLinks {
  display: none; /* to hide by default */
  /* display: block to show by default */
}

div.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

div.topnav a:hover {
  color: black;
  background-color: lightgrey;
}

div.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

p img {
float: right;
width: 900px;
}

div.info {
width:900px;
}

div.info img {
float:right;
}

div.info p {
margin-right:400px;
}

body {
  font-family: Arial, sans-serif;
}
div.javas {
  font-family: Arial;
  font-size: 25px;
}