/* Apply border to table elements */
table,
th,
td {
  border: 2px solid darkcyan;
}

/* Apply font and margin to the body */
body {
  font-family: Arial, Helvetica;
  margin: 0 100px; /* Adjusted margin */
  background-image: url("https://i.pinimg.com/originals/f9/9d/91/f99d91b194fcfe02cfec40537163dda2.jpg");
  background-size: 80% auto; /* Stretched background to fit */
}

/* Styling for the navigation bar */
div.topnav {
  overflow: hidden;
  background-color: darkgrey;
  position: relative;
}

div.topnav #moreLinks {
  display: none; /* Hidden by default */
}

div.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;s
}

div.topnav a:hover {
  color: black;
  background-color: lightgrey;
}

div.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Styling for the content area */
div.content {
  padding: 25px;
  background: rgba(255, 255, 255, 0.5);
}
