/*style.css*/

body {
  font-family: Arial, Helvetica;
  margin: 0px 100px;
  background-size: 100% auto; /* stretch bg to fit */
}

div.topnav {
  overflow: hidden;
  background-color: darkgrey;
  position: relative;
  border-radius: 15px;
}

div.topnav #moreLinks {
  display: none; /* to hide by default */
  /* display: block to show by default */
}

div.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

div.topnav a:hover {
  color: black;
  background-color: lightgrey;
}

div.topnav a.icon {
  border-radius: 20px;
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

div.content {
  padding: 25px;
  background: rgba(255, 255, 255, 0.5);
  /* background-color: white; */
  
}

table, th, td {
  border: 2px solid grey;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: center;
}

th, td {
  font-size: 1.2em;
}

tbody tr:nth-child(odd) {
  background: orange;
  color: #fff;
}

.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}